<!-- Modal -->
<div class="modal fade" id="editClients" role="dialog">
	<div class="modal-dialog addClient_modal modal-sm">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-body">
	    	<div>
                <div class="close_btn" data-dismiss="modal">
                	<img src="<?php echo base_url(); ?>asset/images/close.png" />
                </div>
                <div class="check_btn" data-dismiss="modal">
                	<img src="<?php echo base_url(); ?>asset/images/check.png" />
                </div>
            </div>
            <div class="modal_content">
            	<form>
				    <div class="form-group form_style">
				      	<span class="form_text">Client Name :</span>
				      	<input class="form-control form_input" id="client_name">

				      	<span class="form_text">Mobile Number :</span>
				      	<div>							
							<input class="form-control form_input form_input11" id="country_no">
					      	<input class="form-control form_input form_input2" id="mobile_no">
				      	</div>

				      	<span class="form_text">Email Address : </span><span>"optional"</span>
				      	<input type='email' class="form-control form_input" id="email_address">

				      	<span class="form_text">Address :</span>
				      	<input class="form-control form_input" id="address">
				    </div>
		  		</form>
            </div>
		    
	    </div>
	  </div>
	  
	</div>
</div>