<!-- Modal -->
<div class="modal fade" id="upload_invoice" role="dialog">
	<div class="modal-dialog addClient_modal modal-sm">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-body">
	    	<div>
                <div class="close_btn" data-dismiss="modal">
                	<img src="<?php echo base_url(); ?>asset/images/close.png" />
                </div>
            </div>
            <div class="modal_content">
            	<form>
				    <div class="form-group form_style">
				      	
				    	<div class='action_btn'>
				    		<button class="Download_btn btn btn-default">Download Template</button>
				      		<button class="Upload_btn btn btn-default">Upload Invoice List</button>
				    	</div>
				    </div>
		  		</form>
            </div>
		    
	    </div>
	  </div>
	  
	</div>
</div>