::-webkit-input-placeholder {
   font-size: 13px !important;
}

:-moz-placeholder { / Firefox 18- /
      font-size: 13px !important;
}

::-moz-placeholder {  / Firefox 19+ /
      font-size: 13px !important;
}