<!-- Modal -->
		<div class="modal fade" id="yes_no" role="dialog">
			<div class="modal-dialog sure_modal">

			  <!-- Modal content-->
			  <div class="modal-content">
			    <div class="modal-body">
			      	<span class="sure_ques">Are you sure ?</span>
			    	
			    	<div class='action_btn'>
			    		<button class="no_btn" data-dismiss="modal">No</button>
			      		<button class="yes_btn" onclick="save()">Yes</button>
			    	</div>
			    </div>
			  </div>
			  
			</div>
		</div>