<!-- Modal -->
<div class="modal fade" id="addClients" role="dialog">
	<div class="modal-dialog addbank_modal modal-sm">

	  <!-- Modal content-->
	  <div class="modal-content">
	    <div class="modal-body">
	    	<div>
                <div class="close_btn" data-dismiss="modal">
                	<img src="<?php echo base_url(); ?>asset/images/close.png" />
                </div>
               
            </div>
            <div class="modal_content">
            	<form>
				    <div class="form-group form_style">
				    <!--input the card type -->
				      	<span class="form_text">CardType:</span>
				      	<div class="input-group">               
			                <input type="text" class="form-control" id="Role">
			                <div class="input-group-btn">
			                    <button type="button" class="btn btn-default dropdown-toggle vertical-text" data-toggle="dropdown" aria-expanded="false">
			                     V
			                    </button>
			                    <ul class="dropdown-menu pull-right">
			                     <li><a href="#">visa</a></li>
			                     <li><a href="#">MasterCard</a></li>
			                     <li><a href="#">New card</a></li>
			                    </ul>
			                </div><!-- /btn-group -->
			            </div>
			            <!-- Card Number-->
			            <span class="form_text">Card Number:</span>
			            <input class="form-control form_input" id="agent_name">
			            <!-- Name On Card-->
				      	<span class="form_text">Name On Card:</span>
			            <input class="form-control form_input" id="agent_name">
			            <!-- expirty date -->
			            <span class="form_text">Expirty Date:</span>
			            <div class="input-group-btn">
			            	 <button type="button" class="btn btn-default dropdown-toggle vertical-text" data-toggle="dropdown" aria-expanded="false">
			                     V
			                    </button>
			                    <ul class="dropdown-menu pull-right">
				                     <li><a href="#">1</a></li>
				                     <li><a href="#">2</a></li>
				                     <li><a href="#">3</a></li>
				                     <li><a href="#">4</a></li>
				                     <li><a href="#">5</a></li>
				                     <li><a href="#">6</a></li>
				                     <li><a href="#">7</a></li>
				                     <li><a href="#">8</a></li>
				                     <li><a href="#">9</a></li>
				                     <li><a href="#">10</a></li>
				                     <li><a href="#">11</a></li>
				                     <li><a href="#">12</a></li>
			                    </ul>
			            </div>
			            <div class="input-group-btn">
			            	 <button type="button" class="btn btn-default dropdown-toggle vertical-text" data-toggle="dropdown" aria-expanded="false">
			                     V
			                    </button>
			                    <ul class="dropdown-menu pull-right">
				                     <li><a href="#">2016</a></li>
				                     <li><a href="#">2017</a></li>
				                     
			                    </ul>
			            </div>
				    	<div class='action_btn'>
				      		<button class="SaveCard_btn btn btn-default">Save Bank Account</button>
				    	</div>
				    </div>
		  		</form>
            </div>
		    
	    </div>
	  </div>
	  
	</div>
</div>